.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__menu {
  display: none;
}

.header__bars {
  display: block;
  color: var(--clr-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
}
/* Media queries */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .header__bars {
    display: none;
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .header__link {
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--clr-rose);
  }

  .header__separator {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5em;
  }

  .header__sun {
    display: block;
    color: var(--clr-slate500);
    width: var(--size-base);
    height: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
