:root {
  /* Colors */
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate500: #677b98;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79, 70, 229) */

  /* Sizes */
  --size-xxs: clamp(0.6944rem, 0.6877rem + 0.0336vw, 0.72rem);
  --size-xs: clamp(0.8333rem, 0.8158rem + 0.0877vw, 0.9rem);
  --size-sm: clamp(1rem, 0.9671rem + 0.1645vw, 1.125rem);
  --size-base: clamp(1.2rem, 1.1457rem + 0.2714vw, 1.4063rem);
  --size-lg: clamp(1.44rem, 1.3564rem + 0.4182vw, 1.7578rem);
  --size-xl: clamp(1.728rem, 1.6045rem + 0.6175vw, 2.1973rem);
  --size-2xl: clamp(2.0736rem, 1.8965rem + 0.8855vw, 2.7466rem);
  --size-3xl: clamp(2.4883rem, 2.2397rem + 1.2433vw, 3.4332rem);
  --size-4xl: clamp(2.25rem, 1.8553rem + 1.9737vw, 3.75rem);
  --step-5xl: clamp(3rem, 2.6053rem + 1.9737vw, 4.5rem);
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

* {
  /* Custom preference */
  margin: 0;
  /* 4. Increase line-height */
  line-height: calc(1em + 0.5rem);
}

html {
  /* Custom preference */
  scroll-behavior: smooth;
}

body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* Custom preference */
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* Custom preference */
  user-select: none;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Custom preference */
button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Current project specifics */
li,
ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--clr-rose);
  text-decoration: none;
}

strong {
  color: var(--clr-indigo);
}
